<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HandyTaxApp</title>
    <link rel="stylesheet" href="~/css/BootswatchTheme.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HandyTaxApp.styles.css" asp-append-version="true" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid flex-lg-wrap">
      <ul class="navbar-nav me-auto">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Handy Tax App</a>
        <li class="nav-item">
          <a class="nav-link text-wrap" asp-area="" asp-controller="Invoice" asp-action="UpsertPage">Dodaj Koszt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="" asp-action="Upsert">Wystaw Fakture</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dokumenty</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="" asp-controller="Invoice" asp-action="Index">Koszty</a>
            <a class="dropdown-item" asp-area="" asp-controller="Invoice" asp-action="Index">Faktury</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="" asp-controller="ActualNews" asp-action="Index">Actual News</a>
            <a class="dropdown-item" asp-area="" asp-controller="BlogPost" asp-action="UpsertPage">New Blog Post</a>
          </div>
        </li>
        <li>
            <partial name="_LoginPartial" />
        </li>
      </ul>
      
  </div>
</nav>  
</header>

    <div class="container display:flex">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="width:100%">
            &copy; 2022 - HandyTaxApp - 
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Noty prawne</a> - 
            <a asp-area="" asp-controller="Home" asp-action="About">O nas</a> - 
            <a asp-area="" asp-controller="Home" asp-action="Cookies">Cookies</a>
            <div style="float:right">
                <a href="#" style="padding:1px"><img src="/lib/bootstrap/icons/linkedin.svg" alt="Bootstrap" width="25" height="25"></a>
                <a href="#" style="padding:1px"><img src="/lib/bootstrap/icons/twitter.svg" alt="Bootstrap" width="25" height="25"></a>
                <a href="#" style="padding:1px"><img src="/lib/bootstrap/icons/facebook.svg" alt="Bootstrap" width="25" height="25"></a>
            </div>
        </div>
        
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
