<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HandyTaxApp</title>
    <link rel="stylesheet" href="~/css/BootswatchTheme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HandyTaxApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" asp-append-version="true" /> 
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h1>Handy Tax App</h1></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Moje dokumenty</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Invoice" asp-action="Index">Koszty</a>
                                <a class="dropdown-item" asp-area="" asp-controller="OutcomeInvoice" asp-action="Index">Faktury</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Formularze</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">SampleForm1</a>
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">SampleForm2</a>
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">SampleForm3</a>
                            </div>
                        </li>
                        <li>
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div class="container display:flex">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<footer class="border-top footer text-muted">
    <div class="container-fluid" style="width:100%">
        &copy; 2022 - HandyTaxApp
    </div>

    <div class="container-fluid" style="width:100%">
        <a href="#" style="padding:1px"><img src="/lib/bootstrap/icons/linkedin.svg" alt="Bootstrap" width="25" height="25"></a>
        <a href="#" style="padding:1px"><img src="/lib/bootstrap/icons/twitter.svg" alt="Bootstrap" width="25" height="25"></a>
        <a href="#" style="padding:1px"><img src="/lib/bootstrap/icons/facebook.svg" alt="Bootstrap" width="25" height="25"></a>
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Noty prawne</a> -
        <a asp-area="" asp-controller="Home" asp-action="About">O nas</a> -
        <a asp-area="" asp-controller="Home" asp-action="Cookies">Cookies</a>
    </div>

</footer>


</html>
