@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item d-flex align-items-center">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link">Wyloguj</button>
        </form>
    </li>
}
else
{
    <li class="nav-item d-flex align-items-center" >
        <a asp-area="Identity" asp-page="/Account/Login">
        <div class="text-dark text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">login</i>            
        </div>
        <span class="nav-link-text ms-1">Zaloguj</span>
        </a>
    </li>  
}

