<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
  </head>
  <body>
    
<main>
  <div class="container py-4">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h3 class="display-6 fw-bold">LIMITED COMPANY (LTD) / Spółka z ograniczoną odpowiedzialnością</h3>
        <hr />
        <p class="fs-5">Spółka LTD (Limited Company) jest to forma prowadzenia biznesu będąca odpowiednikiem polskiej spółki z ograniczona odpowiedzialnością. W przeciwieństwie do działalności self-employment (sole trader) która jest ściśle powiązana z osobą właściciela prawnie i majątkowo, spółka LTD jest niezależnym tworem prawnym. Oznacza to, że spółka LTD posiada własny niezależny majątek i własną odpowiedzialność prawną. Oczywiście spółka ma co najmniej jednego właściciela. Zakres własności jest określony wysokością udziałów (shares) jednego lub wielu udziałowców. Suma udziałów jest kapitałem spółki. Jednak właściciel spółki nie może swobodnie dysponować majątkiem spółki. Spółką zarządza co najmniej jeden Dyrektor będący zazwyczaj udziałowcem i może pobierać z tego tytułu wynagrodzenie. Udziałowiec podobnie jak każda inna osoba może także stać się pracownikiem spółki (Employee). W takim przypadku spółka staje się pracodawcą (Employer) z wynikającymi z tego obowiązkami.  Spółka musi mieć siedzibę w Wielkiej Brytanii. Gdy spółka generuje zyski udziałowcy mogą otrzymać z tego tytułu dywidendy.</p>
        <p class="fs-5">Spółka działa na podstawie prawa spółek (UK Company Law) i powstaje przez rejestracje w rejestrze firm (Companies House). Prowadzenie spółki LTD daje ogromne możliwości i korzyści ale wymaga pomocy biura księgowego.</p>
        <p class="fs-5">Podstawowe korzyści:
            <ul>
                <li>brak obowiązku posiadania dużego kapitału zakładowego</li>
                <li>brak odpowiedzialności majątkowej właściciela za zobowiązania spółki</li>
                <li>korzystniejsze stawki podatkowe przy większych dochodach</li>
                <li>możliwość zatrudnienia się na kontrakt (Employee) we własnej spółce</li>
                <li>łatwość rejestracji</li>
            </ul>          
        </p>
        <p class="fs-5">Do wad należy:
            <ul>
                <li>bardziej skomplikowana księgowość</li>
                <li>brak możliwości swobodnego dysponowania majątkiem spółki</li>
            </ul>   
        </p>
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Services" asp-action="NewCompanyPage">Dowiedz sie jak rozpoczac dzialalnosc</a>
    </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <p><h5 style="color:wheat">Wystawianie faktur (Invoice)</h5>Każda czynność za jaką Spółka pobiera opłatę skutkuje powinnością wystawienia faktury. Wygląd faktury nie jest sformalizowany lecz powinna zawierać dane Spółki (nazwa,adres, numer rejestracyjny spółki, nr konta, nr vat jeśli spółka jest płatnikiem vat) i dane kontrahenta  oraz kwotę należności wraz z terminem płatności. Wpływy na konto bankowe też mogą dokumentować przychód lecz musi to mieć odzwierciedlenie w fakturach. Wystawianie faktur daje dodatkowe zyski w postaci pozostawienia klientowi swoich danych (darmowa reklama) oraz automatycznego budowania bazy danych swoich klientów.</p>
          <hr />
          <p><h5 style="color:wheat">Rejestracja jako Pracodawca (Employer) i obsługa Pracowników (Employee)</h5>Dyrektor z mocy prawa nie jest pracownikiem Spółki lecz może podpisać umowę o pracę ze Spółką i wtedy staje się formalnym pracownikiem. Jeśli więc w Spółce ma być zatrudniony pracownik to należy zgłosić w HMRC, że Spółka staje się pracodawcą i będzie wypłacać wynagrodzenie pracownikom. HMRC rejestruje Spółkę w systemie PAYE, dzięki któremu będzie można opłacać podatek od wynagrodzeń i składki na ubezpieczenie społeczne (NIC).</p>
          <p>Po zarejestrowaniu Spółka jako pracodawca obowiązana jest dokonywać wypłat wynagrodzenia pracownikom zgodnie z podpisaną umową (Employee Contract, Employee Agreement), przesyłać informacje do HMRC w czasie rzeczywistym (RTI) i wystawiać dowód wypłaty (Payslip). Niedopełnienie tych obowiązków może grozić nieprzyjemnymi konsekwencjami</p>
          <hr />
          <p><h5 style="color:wheat"></h5></p>
          <p></p>  
          <p></p>
      </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <p><h5>Prowadzenie księgi rachunkowej i rozliczenie roczne spółki LTD</h5>Spółka Ltd (Limited) wymaga prowadzenia księgi rachunkowej zgodnie z zasadą tak zwanej pełnej księgowości, do czego zazwyczaj wymagane jest posiadanie specjalnego oprogramowania oraz wiedza. Doświadczenie pokazuje, że wielu przedsiębiorców decyduje się na uzupełnienie księgi rachunkowej w momencie gdy zbliża się termin rozliczenia rocznego. Naszym zdaniem zdecydowanie lepszym rozwiązaniem jest systematyczne okresowe (np. comiesięczne) jej uzupełnianie. Poza pewnością że wszystko zostanie wykonane na czas, daje to lepszą kontrolę nad finansami Spółki. Po zakończeniu roku podatkowego Spółka Ltd zobowiązana jest dokonać rozliczenia rocznego z prowadzonej przez siebie działalności. Należy podkreślić, iż rok podatkowy spółki biegnie od dnia rzeczywistego otwarcia spółki. Z rozliczeniem wiąże sie złożenie stosownych dokumentów w Companies House oraz HMRC.  Po rozliczeniu reprezentat spółki winien opłacić należny podatek i wypłacić udziałowcom ewentualną dywidendę. Należy pamiętać aby tego dokonać w wymaganych prawem terminach, których niedotrzymanie grozi przykrymi konsekwencjami.</p>
          <hr />
          <p><h5>Rozliczenia z tytułu podatku VAT</h5>Jeśli obrót Spółki w ciągu roku obrachunkowego przekracza 85000 funtów ( dane na rok 2018) to Spółka obowiązana jest zarejestrować się w HMRC jako płatnik VAT i dokonywać okresowych rozliczeń należnego podatku VAT. Oczywiście istnieje możliwość dobrowolnej rejestracji jako podatnik VAT gdy obrót Spółki jest niższy niż 85 000 funtów.</p>
          <hr />
          <p><h5>Rozliczenie roczne Dyrektora spółki LTD</h5>Po zakończeniu roku podatkowego (5 kwiecień) każdy Dyrektor spółki obowiązany jest do dokonania rozliczenia rocznego (self-assesment) nawet w przypadku gdy nie osiągnął żadnych dochodów z faktu pełnienia funkcji dyrektora. Rozliczenie należy złożyć do końca stycznia roku następnego po zakończeniu roku podatkowego. Mając doświadczenie sugerujemy nie czekać z rozliczeniem do stycznia gdyż ze względu na kumulację pracy w tym okresie można mieć problem ze znalezieniem biura księgowego, które takiego rozliczenia się podejmie. Za brak rozliczenia w terminie grożą kary administracyjne.</p>
        </div>
      </div>
    </div>
  </div>
</main>
   
  </body>
</html>
