<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
  </head>
  <body>
    
<main>
  <div class="container py-4">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-1">
        <h3 class="display-6 fw-bold">Planujesz rozpoczac dzialalnosc ?</h3>
        <p class="fs-3">Pomozemy wybrac najlepsza forme dla Ciebie. Skontaktuj sie z nami.</p>
    </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <p><h5 style="color:wheat">Self-Employed</h5></p>
          <hr />
          <p>Rejestracja firmy w Brytyjskim Urzędzie Skarbowym – HMRC – podatek (TAX), ubezpieczenie społeczne (NIC), CIS</p>
          <p>Każdą działalność należy zarejestrować w Brytyjskim Urzędzie Skarbowym. Jednak nie ma obowiązku dokonania tego przed rozpoczęciem działalności. Można to zrobić do 3 miesięcy po jej rozpoczęciu dzięki czemu można skupić się na działaniach organizacyjnych nowo powstałej działalności. Po zarejestrowaniu HMRC utworzy Twoje indywidualne konto do rozliczeń podatkowych i ubezpieczeniowych oraz nada Ci indywidualny numer – UTR (Unique Tax Reference).</p>
      </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <p><h5>LTD</h5></p>
          <hr />
          <p>Rejestracja Spółki LTD (Limited)</p>
          <p>Każdą Spółkę należy zarejestrować w rejestrze spółek (Companies House) i w Urzędzie Skarbowym HMRC. Zawiązywanie spółki dokonuje się w czasie rzeczywistym, w ciągu 48 godzin od rejestracji. Po rejestracji  Companies House wyda certyfikat potwierdzający osobowość prawną spółki a HMRC utworzy indywidualne konto do rozliczeń podatkowych i ubezpieczeniowych. Wymagane także będzie założenie konta bankowego należącego do Spółki gdyż nie jest możliwym korzystanie z konta udziałowca lub dyrektora. Może być konieczne także zarejestrowanie spółki jako pracodawcę (Employer), jako kontraktor (CIS scheme) lub płatnik podatku VAT.</p>
          <p>Spółka musi mieć siedzibę w Wielkiej Brytanii. Musi to być fizyczny adres – nie może to być skrytka pocztowa. Nie ma znaczenia czy jest to adres domowy czy biurowy. Adres siedziby spółki jest udostępniony do publicznej wiadomości, podobnie jak adres dyrektora na stronie Companies House. Jednakże prawo dopuszcza, aby adres rejestracyjny firmy był różny od faktycznej siedziby spółki. Co więcej gdy z jakiś względów nie chcemy podać faktycznej siedziby spółki można podać adres podmiotu, który taki adres udostępni do celów rejestracji.</p>
          <p>Nasze Biuro dysponuje taką oferta w swoim pakiecie usług.</p>
        </div>
      </div>
    </div>
  </div>
</main>


    
  </body>
</html>
