<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
  </head>
  <body>
    
<main>
  <div class="container py-4">

    <div class="row align-items-md-stretch">
      <div class="col-md-4">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <p><h5 style="color:wheat">Rozliczenie roczne dla osób indywidualnych</h5></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="h-100 p-5 bg-light border rounded-3">
          <p><h5>Udostępnienie adresu – Wirtualne Biuro</h5></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <p><h5 style="color:wheat">Bezpieczne przesłanie dokumentów do naszego biura</h5></p>
        </div>
      </div>
    </div>
    <br />
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">       
        <p class="fs-5"><h5>Rozliczenie roczne dla osób indywidualnych</h5></p>
        <p class="fs-5">Po zakończonym roku podatkowym ( 5 kwietnia) zatrudnieni na umowę o pracę (Employee) są w ogromnej większości rozliczani bezpośrednio przez pracodawców w HMRC i nie muszą nic robić.</p>
        <p class="fs-5">Jednakże jest kilka istotnych wyjątków , które zobowiązują zatrudnionego do zlozenia deklaracji podatkowej w HMRC, tak wiec jeśli
            <ul>
                <li>miałeś wysokie dochody przekraczające w roku podatkowym 100 000 funtów</li>
                <li>miałeś dochody przekraczające w roku podatkowym 50 000 funtów i pobierałeś Child Benefit</li>
                <li>miałeś dochody z tytułu self-employment/partnership</li>
                <li>byłeś/jesteś dyrektorem w spółce LTD</li>
                <li>miałeś dochody z tytułu emerytury prywatnej</li>
                <li>miałeś dochody z inwestycji – dywidendy, obligacje, odsetki bankowe</li>
                <li>miałeś dochody z wynajmu</li>
                <li>miałeś dochody z zagranicy</li>
                <li>miałeś dochody z niektórych benefitów</li>
                <li>dokonywałeś datków charytatywnych</li>
                <li>miałeś kredyt studencki</li>
                <li>chcesz skorzystać z ulgi małżeńskiej</li>
            </ul>
        </p>
        <p class="fs-5">Jeśli chociaż jeden z wyżej wymienionych przypadków  dotyczy Twojej osoby to rozliczenie roczne jest wymagalne ( self assesment). Jeśli masz wątpliwości proponujemy prostą ankietę na stronie HMRC  której rezultat jednoznacznie wskaże, czy rozliczenie w Twoim przypadku jest konieczne.</p>
        <p class="fs-5">Rozliczenia  należy dokonać do końca stycznia roku następnego po zakończonym roku podatkowym. Mając doświadczenie sugerujemy nie czekać z rozliczeniem do ostatniej chwili gdyż ze względu na kumulację pracy  można mieć problem ze znalezieniem biura księgowego które takiego rozliczenia się podejmie w gorącym okresie dla biur księgowych. Za brak rozliczenia w terminie grożą kary administracyjne.</p>
        <hr />
        <p class="fs-5"><h5>Udostępnienie adresu – Wirtualne Biuro</h5></p>
        <p class="fs-5">Brytyjskie Prawo spółek wymaga aby spółka posiadała fizyczny adres siedziby w UK. Więc jeśli nie posiadasz adresu w UK lub nie możesz albo nie chcesz go wykorzystać do rejestracji spółki oferujemy usługę Wirtualnego Biura. Usługa ta obejmuje zgłoszenie adresu biura w Companies House i HMRC jako siedziby spółki LTD oraz przekierowanie poczty otrzymanej z tych urzędów na faktyczny adres Spółki. Dodatkowo adres Wirtualnego Biura może być być adresem technicznym Dyrektora Spółki jeśli z jakiś powodów nie może on lub nie chce podać swojego adresu zamieszkania w Companies House.</p>
        <p class="fs-5">Podstawowe zasady korzystania z usługi Wirtualne Biuro.</p>
        <p class="fs-5">Usługa Wirtualnego Biura uprawnia wyłącznie do udostępnienia adresu do kontaktów z instytucjami państwowymi – Companies House, HMRC, Policja itp.</p>
        <p class="fs-5">Usługa Wirtualnego Biura nie uprawnia:
            <ul>
                <li>do wykorzystywania w celach biznesowych jako adres fizycznego prowadzenia działalności,  do  kontaktów z kontrahentami, dotyczących spraw sądowych, windykacyjnych, celnych itp</li>
                <li>do ubiegania się o zasiłki, dofinansowania, granty itp</li>
                <li>do posługiwania się wynajętym adresem jako miejscem zamieszkania, czasowego lub trwałego pobytu itp</li>
                <li>działań sprzecznych z obowiązującym prawem</li>
            </ul>
        </p>
        <p class="fs-5">W razie złamania postanowień umowy, w tym otrzymania jakiejkolwiek korespondencji na adres Wirtualnego Biura wskazującej na nieuprawnione korzystanie przedmiotowej usługi, zastrzegamy sobie prawo wypowiedzenia umowy świadczenia tej usługi w trybie natychmiastowym i zgłoszenia zmiany adresu w stosownych instytucjach ze wszystkimi z tego wynikającymi konsekwencjami. Opłata za usługę nie podlega zwrotowi a koszty powiadomienia stosownych instytucji o zmianie adresu obciążają Klienta.</p>
        <p class="fs-5">Ze względów na wymogi prawa Klient musi potwierdzić prawdziwość swoich danych personalnych i adresowych przez przekazanie stosownych skanów, kopii wymaganych dokumentów i ewentualnych oświadczeń świadków.</p>
        <p class="fs-5">W uzasadnionych przypadkach lub na żądanie udostępnimy te dane stosownym instytucjom ( Policja, prokuratura, sądy, Companies House, HMRC itp). Dane te podlegają przepisom RODO, Przeciwdziałaniu Terroryzmowi i Praniu Brudnych Pieniędzy z uwzględnieniem innych przepisów prawa.</p>
        <p class="fs-5">Klient ponosi wyłączna odpowiedzialność prawną i finansową za wszelkie decyzje i działania podjęte przez osoby i podmioty korzystające z usługi Wirtualne Biuro.</p>
        <p class="fs-5">Nie odpowiadamy za jakiekolwiek straty czy roszczenia wynikłe z realizacji spraw przez urzędy i instytucje, pocztę i firmy kurierskie (opóźnienia, błędy, zaginięcia itp.)</p>
        <p class="fs-5">Płatności za usługi Wirtualnego Biura są przyjmowane z góry za rok.</p>
        <p class="fs-5">Klient ma prawo wypowiedzieć umowę Wirtualnego Biura w każdym momencie. Koszty powiadomienia stosownych instytucji o zmianie adresu obciążają Klienta.</p>
        <hr />
        <p class="fs-5"><h5>Bezpieczne przesłanie dokumentów do naszego biura</h5></p>
        <p class="fs-5">Jeśli w danym momencie nie chcesz lub nie możesz skorzystać z poczty elektronicznej to tu zapewniamy możliwość łatwego i bezpiecznego przesłania dokumentów do naszego biura. Dokumenty mogą być przesłane w formie zdjęcia lub skanu. Niezależnie od rodzaju urządzenia cała procedura nie jest skomplikowana. Ze względu na ograniczenia techniczne, jednorazowo można przesłać do pięciu dokumentów.</p>
    </div>
    </div>

    
  </div>
</main>


    
  </body>
</html>
