<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
  </head>
  <body>
    
<main>
  <div class="container py-4">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h3 class="display-6 fw-bold">SELF-EMPLOYED / SAMOZATRUDNIONY</h3>
        <hr />
        <p class="fs-5">Samozatrudniony – self-employed/sole trader to najbardziej powszechna forma prowadzenia własnej firmy w Wielkiej Brytanii. Nieskomplikowana rejestracja, uproszczona księgowość czy łatwość dysponowania pieniędzmi firmowymi to zalety tej formy prowadzenia biznesu. Jednakże trzeba pamiętać, że prowadzący biznes odpowiada za zobowiązania firmy całym swoim majątkiem.</p>
        <p class="fs-5">Partnership – działalność w formie spółki dwóch lub więcej samozatrudnionych.</p>
        <p class="fs-5">CIS – szczególna odmiana samozatrudnienia stosowana głównie w branży budowlanej.</p>
        <p class="fs-5">Od strony księgowej działalność sprowadza się do dokonania rozliczenia na koniec roku podatkowego należnego podatku dochodowego oraz naliczenia ubezpieczenia społecznego (self-assessment). Rok podatkowy w UK rozpoczyna się 6 kwietnia i trwa do 5 kwietnia roku następnego. Nawet jeśli przedsiębiorca nie uzyskał w roku podatkowym żadnego przychodu to i tak obowiązany jest złożyć deklaracje (self-assessment).</p>
        <p class="fs-5">W przypadku obrotów przekraczających 85 000 funtów (w ciągu ostatnich 12 miesięcy) konieczna jest rejestracja w HMRC jako płatnik VAT i dokonywanie okresowych rozliczeń z tego tytułu.</p>
        <p class="fs-5">Gdy firma ma zamiar zatrudniać pracowników należy zarejestrować się w HMRC jako pracodawca a pracownikom okresowo naliczać wynagrodzenie oraz należne z tego tytułu ubezpieczenie społeczne (NIC) oraz podatek (TAX).</p>
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Services" asp-action="NewCompanyPage">Dowiedz sie jak rozpoczac dzialalnosc</a>
    </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <p><h5 style="color:wheat">Rejestracja jako pracodawca i obsługa Pracowników</h5>Jeśli chcesz lub już zatrudniłeś Pracownika to należy ten fakt zgłosić w HMRC aby odnotować, że stajesz się pracodawcą i będziesz pracownikowi wypłacał wynagrodzenie. HMRC rejestruje Cię w systemie PAYE dzięki któremu będziesz mógł opłacać za pracownika podatek od wynagrodzeń i składki na ubezpieczenie społeczne .</p>
          <hr />
          <p><h5 style="color:wheat">Prowadzenie księgowości</h5>Regularne lub jednorazowe podliczanie przychodów i kosztów na podstawie dokumentów księgowych – (faktura, rachunek, paragon)</p>
          <p>Każdy przedsiębiorca jest obowiązany do prowadzenia księgi rachunkowej. Prowadzenie księgi nie jest bardzo skomplikowane ale może być czasochłonne. Sprowadza się do odnotowania każdego zdarzenia księgowego (przychodu i kosztu) związanego z prowadzonym biznesem w księdze i końcowym ich podliczeniu oraz dołączeniu stosownych dokumentów księgowych (faktura, rachunek, paragon). Doświadczenie wskazuje, że znaczna liczba przedsiębiorców czeka z tym do końca roku podatkowego zlecając biurom księgowym taką usługę wraz z rozliczeniem rocznym.</p>
          <p>Jeśli więc jesteś w stanie prowadzić księgę sam i samodzielnie podliczyć ostateczne przychody i wydatki to współpracując z naszym Biurem możesz zaoszczędzić trochę pieniędzy przy rozliczeniu rocznym.</p>
          <p>Jeśli nie chcesz tego robić, nie jesteś pewien swoich umiejętności, chcesz poświecić czas na rozwijanie swojego biznesu czy też mieć bieżącą kontrolę nad finansami swojej firmy możesz zlecić nam prowadzenie księgi.</p>
          <hr />
          <p><h5 style="color:wheat">Wystawianie faktur (invoice)</h5>Każda czynność za jaką pobierasz opłatę skutkuje powinnością wystawienia faktury.</p>
          <p>Wygląd nie jest sformalizowany lecz powinna zawierać dane Twoje i dane kontrahenta oraz kwotę należności i ewentualnie formę płatności. Wpływy na konto bankowe też mogą dokumentować przychód lecz w przypadku korzystania z konta prywatnego do celów firmowych faktury pozwalają jednoznacznie określić przychód do opodatkowania. Z naszego doświadczenia jednak wiemy, że posiadanie konta bankowego wyłącznie na użytek biznesowy dużo łatwiej pozwala kontrolować przychody, wydatki  ale i również swoich dłużników (dla odroczonych płatności).</p>  
          <p>Wystawianie faktur daje dodatkowe zyski w postaci pozostawienia klientowi swoich danych (darmowa reklama) oraz automatycznego budowania bazy danych swoich klientów.</p>
      </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <p><h5>Rozliczenie VAT</h5>Jeśli Twoja firma osiąga obrót sięgający 85 000 funtów (za ostatnie 12 miesięcy) obowiązany jesteś zarejestrować się w HMRC jako płatnik VAT i dokonywać okresowych rozliczeń.</p>
          <hr />
          <p><h5>Rozliczenia roczne (self-assessment, CIS)</h5>Po zakończeniu roku podatkowego każdy przedsiębiorca obowiązany jest dokonania rozliczenia rocznego z prowadzonej działalności, naliczenia należnego podatku i składek na ubezpieczenie społeczne. Należy tego dokonać do końca stycznia roku następnego po zakończeniu roku podatkowego co oznacza okres prawie 10 miesięcy. Mając doświadczenie sugerujemy nie czekać z rozliczeniem do stycznia gdyż ze względu na kumulację pracy w tym okresie można mieć problem ze znalezieniem biura księgowego które takiego rozliczenia się podejmie. Za brak rozliczenia w terminie grożą kary administracyjne.
          <p>W naszym biurze rozliczenie roczne może być wykonane w dwóch wariantach:
              <ul>
                  <li>rozliczenie na podstawie ostatecznych kwot przychodów i kosztów przekazanych przez przedsiębiorcę (księga rachunkowa jest u przedsiębiorcy).</li>
                  <li>rozliczenie na podstawie przekazanych dokumentów księgowych (faktura, rachunek, paragon) przekazanych przez przedsiębiorce wymagające podliczenia przychodów i kosztów przez biuro księgowe (stworzenie księgi rachunkowej) W takim przypadku doliczymy koszt usługi prowadzenia księgi rachunkowej.</li>
              </ul>
          </p>
          <hr />
          <p><h5>Rozliczenie roczne (self-assessment) dla zatrudnionych na umowę o pracę (kontrakt)</h5>Po zakończonym roku podatkowym ( 5 kwietnia) zatrudnieni na umowę o pracę (Employee) są w ogromnej większości rozliczani bezpośrednio przez pracodawców w HMRC i nie muszą nic robić.</p>
          <p>Jednakże jest kilka istotnych wyjątków , które zobowiązują zatrudnionego do zlozenia deklaracji podatkowej w HMRC, tak wiec jeśli :
              <ul>
                  <li>miałeś wysokie dochody przekraczające 100 000 funtów w roku</li>
                  <li>miałeś dochody przekraczające 50 000 funtów i pobierałeś Child Benefit</li>
                  <li>miałeś dochody z tytułu self-employment-u/partnership-u</li>
                  <li>byłeś/jesteś dyrektorem w spółce LTD</li>
                  <li>miałeś dochody z tytułu emerytury prywatnej</li>
                  <li>miałeś dochody z inwestycji – dywidendy, obligacje, odsetki bankowe</li>
                  <li>miałeś dochody z wynajmu</li>
                  <li>miałeś dochody z zagranicy</li>
                  <li>miałeś dochody z niektórych benefitów</li>
                  <li>dokonywałeś datków charytatywnych</li>
                  <li>miałeś kredyt studencki</li>
                  <li>chcesz skorzystać z ulgi małżeńskiej.</li>
              </ul>
          </p>
          <p>Jeśli chociaż jeden z wyżej wymienionych przypadków  dotyczy Twojej osoby to rozliczenie roczne jest wymagalne ( self assesment). Jeśli masz wątpliwości proponujemy prostą ankietę na stronie HMRC  której rezultat jednoznacznie wskaże, czy rozliczenie w Twoim przypadku jest konieczne.</p>
          <p>Rozliczenia  należy dokonać do końca stycznia roku następnego po zakończonym roku podatkowym. Mając doświadczenie sugerujemy nie czekać z rozliczeniem do ostatniej chwili gdyż ze względu na kumulację pracy  można mieć problem ze znalezieniem biura księgowego które takiego rozliczenia się podejmie w gorącym okresie dla biur księgowych. Za brak rozliczenia w terminie grożą kary administracyjne.</p>
        </div>
      </div>
    </div>
  </div>
</main>


    
  </body>
</html>
