
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
@*<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">*@

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

  <link href="~/css/pricing.css" rel="stylesheet">
  </head>
  <body>
    
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
</svg>

<div class="container py-3">
  <header>
    <div class=" p-3 pb-md-4 mx-auto">
      <h3 class="display-7 fw-normal">Obsługa Samozatrudnionych / Self -employed / Sole Traders i roczne rozliczenia podatkowe – Self-assessment</h3>
      <p class="fs-5 text-muted">Nasze Biuro oferuje obsługę i rozliczenia dla samozatrudnionych (self-employed) w kilku wariantach przez co każdy Przedsiębiorca może znaleźć coś dla siebie.</p>
    </div>
  </header>
  
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 ">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">EKSPRES</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Od £50</h1>
            <p class="fs-5">Klient ma wiedzę w zakresie prowadzenia księgi przychodów i kosztów ale nie ma możliwości złożenia zeznania podatkowego (self-assessment) w HMRC.</p>
            <p class="fs-5">Klient samodzielnie oblicza roczne przychody, koszty na podstawie samodzielnie prowadzonej księgi przychodów i kosztów.</p>
            <p class="fs-5">Dane przesyła elektronicznie.</p>
            <p class="fs-5">Rozliczenie dotyczy jednej działalności.</p>           
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">STANDARD</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Od £75</h1>
            <p class="fs-5">Dedykowany do standardowych rocznych zeznań podatkowych (self-assessment)</p>
            <p class="fs-5">Przedsiębiorca przesyła skany/oryginały dokumentów księgowych w celu zaewidencjonowania w księdze przychodów i kosztów oraz dokonania rozliczenia rocznego.</p>
            <p class="fs-5">Rozliczenie dotyczy jednej działalności</p>
            <p class="fs-5">Dla przychodu przekraczającego 85000 funtów koszt usługi wyceniony indywidualnie</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">MIESIECZNY</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Od £16<small class="text-muted fw-light">/mo</small></h1>
            <p class="fs-5">Dla Przedsiębiorców oczekujących: 
                <ul>
                    <li>bieżącej obsługi księgowej</li>
                    <li>częstych zapytań i konsultacji</li>
                    <li>obsługi w zakresie VAT</li>
                    <li>zatrudniających pracowników</li>
                    <li>posiadających znaczą ilość miesięcznych transakcji</li>
                </ul>
            </p>
            <p class="fs-5">Obejmuje nielimitowaną liczbę:</p>
            <ul>
                <li>zapytań i konsultacji</li>
                <li>prowadzenie księgi przychodów i kosztów na podstawie przesyłanych dokumentów</li>
                <li>podawanie miesięcznych wyników finansowych</li>
                <li>roczne rozliczenie podatkowe oraz zależności od potrzeb obsługę pracowników</li>
                <li>rozliczanie VAT</li>
            </ul>
            <p class="fs-5">Umowa roczna</p>
            <p class="fs-5">Zaliczkowa płatność miesięczna</p>
            <p class="fs-5">Ostateczne naliczenie kosztu usługi następuje na koniec roku podatkowego.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">Ekspres</th>
            <th style="width: 22%;">Standard</th>
            <th style="width: 22%;">Miesieczny</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start">Roczne rozliczenie/Self-Assassment*</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Wykreowanie i podliczenie ksiegi rachunkowej**</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th scope="row" class="text-start">Obsluga Pracownikow Payroll***</th>
            <td></td>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Oblsuga VAT****</th>
            <td></td>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
        </tbody>
      </table>
      <p class="fs-5">* – każde dodatkowe źródła dochodu (P45/P60, wynajem, dywidenda, z zagranicy itp.) – £10 od źródła dochodu (niedostępne w pakiecie Ekspres); CIS - cena ustalana indywidualnie.</p>
      <p class="fs-5">** – do 30 dokumentów księgowych (faktur, rachunków, paragonów, płatności bankowych); powyżej dopłata £20 za każde rozpoczęte 30 sztuk.  </p>
      <p class="fs-5">*** – naliczenie wynagrodzenia, wystawienie i przesłanie payslipa/P45/P60 – od £10 (uzależnione od ilości pracowników)</p>
      <p class="fs-5">**** – obsługa i przygotowanie deklaracji VAT - £20 miesięcznie</p>
    </div>
    <br />
    <br />
    <div class="table-responsive">
      <h4 class="my-0 fw-normal">Uslugi Jednorazowe</h4>
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 60%;">Usluga</th>
            <th style="width: 40%;">Cena</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start">Rozliczenia Partnership</th>
            <td>koszt do indywidualnej wyceny</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Rejestracja/wyrejestrowanie działalności self-employment/partnership/CIS*</th>
            <td>£35</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Rejestracja/wyrejestrowanie działalności jako pracodawca</th>
            <td>£35</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Rejestracja/wyrejestrowanie VAT</th>
            <td>£35</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Zwrot nadpłaconego podatku</th>
            <td>od £40</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">pelacja od decyzji o nałożeniu kar</th>
            <td>£30 + 15% anulowanej kwoty kary</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Marriage  Allowance</th>
            <td>£30 + 15% naliczonej kwoty</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Inne (w tym porady)</th>
            <td>od £5 (koszt do indywidualnej wyceny)</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Listy wypłat pracowników – Payroll</th>
            <td></td>
          </tr>
          <tr>
              <th scope="row" class="text-start">Dla jednego pracownika </th>
              <td>10 funtów za każdy Payslip/P45/P60</td>
          </tr>
          <tr>
              <th scope="row" class="text-start">Dla od dwóch do pięciu pracowników</th>
              <td>9 funtów za każdy Payslip/P45/P60</td>
          </tr>
          <tr>
              <th scope="row" class="text-start">Dla powyżej pięciu pracowników</th>
              <td>8 funtów za każdy Payslip/P45/P60</td>
          </tr>
        </tbody>
      </table>
      <p class="fs-5">Koszt przygotowania rozliczenia self-assessment:</p>
      <p class="fs-5">Cena jest uzależniona od ilości transakcji przychodowych i kosztowych, które zostaną
zaksięgowane w ramach rozliczenia self-assessment. Jako transakcję należy rozumieć każdy
rachunek, paragon lub płatność bankowa. Dla przykładu: Pan Jacek wystawia co miesiąc
fakturę gotówkową dla firmy A i dodatkowo otrzymuje na konto bankowe stałą kwotę od firmy B.
Co miesiąc ma pobieraną z konta bankowego opłatę za telefon i robi zakupy w dwóch sklepach
otrzymując z każdego paragon. Oznacza to, że Pan Jacek ma dwie transakcje przychodowe i trzy kosztowe.
Cennik obowiązuje dla umów zawartych/przedłużonych po 30/09/2021</p>
    </div>
  </main>
</div>


    
  </body>
</html>

