
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

  <link href="~/css/pricing.css" rel="stylesheet">
  </head>
  <body>
    
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
</svg>

<div class="container py-3">
  <header>
    <div class=" p-3 pb-md-4 mx-auto">
      <h3 class="display-7 fw-normal">Wirtualne Biuro – wynajem adresu</h3>
      <p class="fs-5 text-muted">Nasze Biuro oferuje usługę wynajmu adresu rejestracyjnego Spółki Ltd i techniczny adres zamieszkania Dyrektora</p>
    </div>
  </header>
  
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 ">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Ekonomiczny</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title">Spolka LTD £120</h3>
            <h4 class="card-title pricing-card-title">Dyrektor, sekretarz - za osobe £40</h4>
            <p class="fs-5">Udostępnienie adresu dla Spółki i/lub Dyrektora</p>
            <p class="fs-5">Przyjęcie korespondencji z Companies House i HMRC, zeskanowanie i przesłanie na wskazany adres mailowy</p>
            <p class="fs-5">Bezpieczne zniszczenie otrzymanej papierowej korespondencji</p>
            <p class="fs-5">Umowa roczna</p> 
            <p class="fs-5">Opłata za rok z góry</p> 
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Premium</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title">Spolka LTD £140</h3>
            <h4 class="card-title pricing-card-title">Dyrektor, sekretarz - za osobe £60</h4>
            <p class="fs-5">Udostępnienie adresu dla Spółki i/lub Dyrektora</p>
            <p class="fs-5">Przyjęcie korespondencji z Companies House i HMRC, zeskanowanie i przesłanie na wskazany adres mailowy</p>
            <p class="fs-5">Przesłanie otrzymanej papierowej korespondencji pocztą/kurierem na wskazany adres w Wielkiej Brytanii (Anglia, Szkocja,Walia, Irlandia Północna</p>
            <p class="fs-5">Umowa roczna</p>
            <p class="fs-5">Opłata za rok z góry</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Premium Plus</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title">Spolka LTD £180</h3>
            <h4 class="card-title pricing-card-title">Dyrektor, sekretarz - za osobe £80</h4>
            <p class="fs-5">Udostępnienie adresu dla Spółki i/lub Dyrektora</p>
            <p class="fs-5">Przyjęcie korespondencji z Companies House i HMRC, zeskanowanie i przesłanie na wskazany adres mailowy</p>
            <p class="fs-5"> Przesłanie otrzymanej papierowej korespondencji pocztą/kurierem na wskazany adres poza granicami Wielkiej Brytanii</p>
            <p class="fs-5">Umowa roczna</p>
            <p class="fs-5">Opłata za rok z góry</p>
          </div>
        </div>
      </div>
    </div>
    <p class="fs-5">Cennik obowiązuje dla umów zawartych/przedłużonych po 30/09/2021</p>
   </main> 
  </body>
</html>

