@model BlogPost;

@{
    ViewData["Title"] = "UpsertPage";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Id!=0?"Update Post":"Add New Post")</h2>
            <hr />
        </div>
        <div class="row mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Text"></label>
            <textarea rows="1" class="auto_height" oninput="auto_height(this)" asp-for="Text"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <div class="col-8">
                <button type="submit" class="btn btn-primary" style="width:100%">@(Model.Id!=0?"Update": "Create")</button>
            </div>
            @if (Model.Id != 0)
            {
                <div class="col-2">
                <a asp-controller="BlogPost" asp-action="DeletePage" asp-route-id="@Model.Id" class="btn btn-danger mx-2">
                   <img src="/lib/bootstrap/icons/trash.svg" alt="Bootstrap" width="20" height="20">
                            Delete
                </a>
                </div>
            }
       </div>
       <div class="row mb-3">
            <div class="col-12">
                <a asp-controller="BlogPost" asp-action="Index" class="btn btn-primary" style="width:100%">Take Me Back</a>
            </div>
       </div>
    </div>
</form>

<script>
    function auto_height(elem) {
        elem.style.height = "3px";
        elem.style.height = (elem.scrollHeight)+"px";
    }
</script>
                