@{
    ViewData["Title"] = "O nas";
}
<br />
<h1>@ViewData["Title"]</h1>

<div class="row pb-3">
    <p>Jesteśmy Polskim Internetowym Biurem Księgowym otwartym dla każdego Klienta – Samozatrudnionego Self-employed i Spółkę Ltd Limited Company a także Osobę nie prowadzącą żadnego biznesu Individual.</p>
    
    <p>Doskonale rozumiemy, że niezależnie od formy i rodzaju prowadzonego biznesu, każdy ceni sobie wygodę, czas i chce się skupiać na rozwijaniu swojej działalności. 
       Dlatego też prowadzimy obsługę wyłącznie on-line (przez internet, mail, telefon). Nasi Klienci nie są zobligowani do wizyt w tradycyjnym biurze czy długich rozmów telefonicznych. 
       Nikt nie jest ograniczany godzinami pracy biura. Każde pytanie lub zamówienie usługi można przesłać elektronicznie (mail, Whatsapp, SMS) w najdogodniejszym dla siebie czasie – nawet przy porannej kawie czy w innej wolnej chwili. 
       W oferowanych usługach staramy się elastycznie podchodzić do ich realizacji mając na względzie satysfakcję naszych Klientów. W ogromnej większości przypadków odpowiadamy do 24 godzin od otrzymania wiadomości.</p>

    <p>Jako zarejestrowane w Brytyjskim Urzędzie Skarbowym (HMRC) Biuro Księgowe stosujemy się do obowiązujących nas zasad i regulacji prawnych.
       Na życzenie i za zgodą Klienta możemy być Jego autoryzowanym Agentem (przedstawicielem) w HMRC.</p>

    <p>Z mocy prawa jesteśmy zobowiązani do przestrzegania wymogów wynikających z Regulacji o przeciwdziałaniu praniu pieniędzy czyli Anti-Money Laundering Regulation i w tym zakresie podlegamy nadzorowi HMRC.</p>

    <p>Dbamy o zachowanie tajemnicy zawodowej oraz spełnianie wymogów Ochrony danych osobowych – Data Protection. Wszystkie dane są przesyłane i przechowywane w sposób bezpieczny.</p>

    <p>Staramy się działać w sposób przejrzysty – w tym podając ceny usług bez ukrytych kosztów.</p>

    <p>Bardzo ważne jest dla nas prowadzenie działalności w sposób najbardziej przyjazny dla otaczającego środowiska.</p>

    <p>Pracujemy zdalnie z domu przez co redukujemy emisję zanieczyszczeń spowodowanych dojazdami do biura i koniecznością jego utrzymania. Dzięki temu poprawia się także komfort życia rodzinnego pracowników.
       W pracy używamy wyłącznie energooszczędne urządzenia, staramy się wszędzie gdzie tylko jest to możliwe nie używać papieru. Dlatego do kontaktów preferujemy media elektroniczne. Cyfrowo archiwizujemy dokumenty. Stosujemy także daleko idący recycling z zachowaniem zasad bezpieczeństwa.</p>

    <p>Jesteśmy otwarci na wszelkie sugestie i uwagi pozwalające nam świadczyć jeszcze wyższy poziom usług.</p>

    <p>Jeśli masz jakieś uwagi lub sugestie – napisz do nas</p>

</div>

