@{
    ViewData["Title"] = "Autoryzacja Agenta HMRC";
}
<br />
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row pb-3">
    <p>Działalność naszego Biura polega głównie na pośredniczeniu pomiędzy Brytyjskim Urzędem Skarbowym – HMRC, a przedsiębiorcą w sprawach podatkowych (Tax) i związanych z ubezpieczeniem społecznym (National Insurance Contribution). Jesteśmy autoryzowanym agentem HMRC. Jednakże prawo wymaga aby móc reprezentować naszych Klientów – działać w ich imieniu –Biuro musi uzyskać pełnomocnictwo – autoryzację do reprezentowania w urzędzie HMRC.</p>
    <p>Innymi słowy Klient za naszym pośrednictwem musi przekazać do HMRC wniosek /aplikację  o udzielenie autoryzacji. HMRC  po rozpatrzeniu wniosku  w okresie około dwu-tygodniowym przesyła do Klienta list zawierający unikalny kod autoryzacyjny. Jeśli w międzyczasie Klient nie zmienił zdania co do udzielenia nam autoryzacji to kopie listu z kodem przekazuje do naszego Biura. Chcielibyśmy nadmienić, iż kod autoryzacyjny ma swój termin ważności – zwykle 2 tygodnie od momentu nadania. Autoryzacja dotyczy szerokiego zakresu spraw – od podatkowych ( Annual Tax i VAT ) po sprawy pracownicze i ubezpieczeniowe – National Insurance Contribution, PAYE, CIS i inne – każda dziedzina wymaga odrębnej aplikacji. Autoryzacja jest jednorazowa na cały okres współpracy.</p>
    <p>Autoryzacja może być w każdym momencie odwołana.</p>
</div>

