@{
    ViewData["Title"] = "PRZECIWDZIAŁANIE PRANIU BRUDNYCH PIENIĘDZY – ANTI MONEY LAUNDERING";
}
<br />
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row pb-3">

    <p>Działalność z zakresu usług księgowych należy do sektora finansowego. Dlatego też działalność naszego Biura podlega obowiązkowi rejestracji i nadzoru przez organy nadzorcze z zakresu przeciwdziałania praniu brudnych pieniędzy i finansowaniu terroryzmu. Jednocześnie, jako Biuro Księgowe mamy obowiązek monitorowania działań naszych Klientów pod kątem spełniania przesłanek dotyczących prania pieniędzy.</p>
    <p>Oznacza to, iż jesteśmy obowiązani do dołożenia staranności w przetwarzaniu uzyskanych danych, a gdy w naszym Biurze zostaną ujawnione transakcje spełniające przesłanki zawarte w definicji prania brudnych pieniędzy, powiadomione muszą być stosowne organy zajmujące się przeciwdziałaniem praniu brudnych pieniędzy.</p>
    <p>Pranie pieniędzy oznacza wymianę pieniędzy lub aktywów uzyskanych w sposób przestępczy na pieniądze lub inne aktywa co do których można wskazać legalne źródło ich pochodzenia. Takie pieniądze nazywa się czyste lub wyprane. Czyste pieniądze lub aktywa nie mają już wtedy oczywistego związku z jakąkolwiek działalnością przestępczą. Pranie brudnych pieniędzy obejmuje również pieniądze, które są wykorzystywane do finansowania terroryzmu, niezależnie od tego, jak zostały uzyskane.</p>



</div>

