@{
    ViewData["Title"] = "Pliki Cookies";
}
<br />
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row pb-3">

    <p>Pliki cookies (ciasteczka) to małe pliki tworzone i zapisywane na komputerze użytkownika podczas odwiedzania stron internetowych.</p>

    <div class="row pb-3">

        <h4>Pliki cookies wykorzystywane są w cealch:</h4>
        
        <ul class="m-3">
            <li>technicznych – do dostosowania wyglądu strony do możliwości sprzętu użytkownika</li>
            <li>statystycznych</li>
            <li>bezpieczeństwa – do wykrywania nadużyć</li>
        </ul>
    </div>
    
    <p>Dane zawarte w cookies mogą być wysyłane w sposób automatyczny do podmiotów dostarczających usługi internetowe lub oprogramowanie a także na żądanie uprawnionych instytucji (Policja, Sądy itp.)</p>
    <p>Administratorem danych serwisu www.handytax.co.uk jest Biuro księgowe HandyTax Limited</p>
    <p>Kontakt z administratorem serwisu.</p>
    <p>Jeśli nie wyrażasz zgody na przechowywanie plików cookie i ich późniejsze wykorzystanie opuść niniejszą stronę (serwis) i zmień ustawienia swojego oprogramowania (przeglądarki).</p>
    <p>Jednak blokada plików cookie i/lub ukrywanie numeru IP może spowodować nieprawidłowe działanie niniejszej strony (serwisu)</p>
    <p>Więcej o plikach cookies można znaleźć na dedykowanych temu zagadnieniu serwisach internetowych.</p>
















 



</div>

