<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="generator" content="Hugo 0.101.0">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/features/">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    <link href="features.css" rel="stylesheet">
  </head>
  <body> 
  <main>
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Noty prawne</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">

        <h2>Polityka prywatnosci</h2>
        <p>Biuro w związku z zakresem sprzedawanych usług pozyskuje wyłącznie dane konieczne do wykonania danej usługi. Wykaz danych jakie pozyskuje Biuro w związku z wykonywaną usługą jest zazwyczaj znane Klientowi lecz na specjalne żądanie może być podane w formie odrębnego dokumentu. Biuro pozyskuje dane osobowe wyłącznie od Klienta. W przypadku konieczności pozyskania ich od innych podmiotów może to nastąpić wyłącznie za zgodą Klienta.</p>
        <a asp-area="" asp-controller="Home" asp-action="Privacy_policy" class="icon-link d-inline-flex align-items-center">
          Czytaj wiecej
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">

        <h2>Autoryzacja Agenta HMRC</h2>
        <p>Jesteśmy autoryzowanym agentem HMRC. Jednakże prawo wymaga aby móc reprezentować naszych Klientów – działać w ich imieniu –Biuro musi uzyskać pełnomocnictwo – autoryzację do reprezentowania w urzędzie HMRC. Innymi słowy Klient za naszym pośrednictwem musi przekazać do HMRC wniosek /aplikację o udzielenie autoryzacji.</p>
        <a asp-area="" asp-controller="Home" asp-action="Agent_HMRC" class="icon-link d-inline-flex align-items-center">
          Czytaj wiecej
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">

        <h2>Anti money Laundering</h2>
        <p>Czyli przeciwdziałanie praniu brudnych pieniędzy. Działalność z zakresu usług księgowych należy do sektora finansowego. Dlatego też działalność naszego Biura podlega obowiązkowi rejestracji i nadzoru przez organy nadzorcze z zakresu przeciwdziałania praniu brudnych pieniędzy i finansowaniu terroryzmu. Jednocześnie, jako Biuro Księgowe mamy obowiązek monitorowania działań naszych Klientów pod kątem spełniania przesłanek dotyczących prania pieniędzy.</p>
        <a asp-area="" asp-controller="Home" asp-action="AML" class="icon-link d-inline-flex align-items-center">
          Czytaj wiecej
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div>

</main>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

