@{
    ViewData["Title"] = "Polityka prywatnosci";
}
<br />
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row pb-3">

    <h4>Definicje</h4>
    <br />

    <p>Biuro – Biuro Księgowe HandyTax Limited  – jest to podmiot zarządzający serwisem i w ramach niego sprzedający oferowane tam usługi. Firma jest zarejestrowana w Companies House pod numerem 09874043</p>
    <p>Serwis – strona lub grupa powiązanych stron w domenie www.handytax.co.uk przez który Biuro sprzedaje swoje usługi</p>
    <p>Klient – osoba lub inny podmiot który korzysta lub ma zamiar skorzystać z usług Biura</p>
    <p>Administrator – osoba lub podmiot zajmujący się przetwarzaniem pozyskanych danych osobowych. Administratorem danych Klientów jest Biuro. Kontakt z administratorem serwisu.</p>
    <p>Biuro w związku z zakresem sprzedawanych usług pozyskuje wyłącznie dane konieczne do wykonania danej usługi. Wykaz danych jakie pozyskuje Biuro w związku z wykonywaną usługą jest zazwyczaj znane Klientowi  lecz na specjalne żądanie może być podane w formie odrębnego dokumentu. Kontakt z administratorem serwisu.</p>
    <hr />
    <div class="row pb-3">

        <h4>Dane osobowe Klientów przetwarzane są w celach:</h4>
        
        <ul class="m-3">
            <li>komunikacji z Klientem</li>
            <li>wykonania usługi</li>
            <li>przekazania danych stosownym podmiotom w związku ze zleconą przez Klienta usługą (np. HMRC, instytucje rządowe, samorządowe itp)</li>
            <li>archiwalnych na wypadek konieczności dowodowej – w związku z działaniami podejmowanymi przez różnego rodzaju Instytucje (Policja, Sądy itp.)</li>
            <li>marketingowych wyłącznie w zakresie oferowanych usług Biura</li>
        </ul>
    </div>

    <hr />
    
    <p>Biuro pozyskuje dane osobowe wyłącznie od Klienta. W przypadku konieczności pozyskania ich od innych podmiotów może to nastąpić wyłącznie za zgodą Klienta.</p>
    <p>Dane osobowe Klientów są przechowywane na lokalnych dyskach Biura w wersji cyfrowej. W razie potrzeby w wersji papierowej dane są przechowywane w zabezpieczonym miejscu. W określonych przypadkach w związku z koniecznością użycia do wykonania usługi specjalistycznego oprogramowania używanego przez Biuro, dane mogą także być przechowywane i/lub przetwarzane na serwerach zewnętrznych  Na żądanie Klienta Biuro poda dane podmiotu od którego oprogramowanie zostało zakupione lub wydzierżawione</p>
    <p>Dane Klientów będą archiwizowane przez okres 6 lat liczone od roku następnego po roku wykonania usługi a następnie zostaną zniszczone.</p>
    <p>Klient ma prawo odmówić podania danych osobowych w części lub całości bez podania przyczyny. W tym przypadku nie będzie możliwe rozpoczęcie lub kontynuacja świadczenia usługi.</p>
    <p>Klient może wnieść prośbę o zaprzestanie przetwarzania danych osobowych i/lub ich usunięcie – jednakże będzie to skutkować brakiem możliwości kontynuowania usługi przez Biuro. W tym przypadku Biuro dokona archiwizacji danych i zaniecha ich przetwarzania za wyjątkiem  konieczności działań dowodowych w związku z postępowaniami prowadzonymi przez instytucje państwowe (policja, sądy itp.) lub roszczeń Klienta w związku  z przedmiotową usługą.</p>
    <p>Klient może wnieść o częściowe zaprzestanie przetwarzania danych osobowych (np. dotyczące działań marketingowych ).</p>
    <p>Każdy wniosek musi być w formie pisemnej – tradycyjnej lub elektronicznej (mail, SMS)</p>

    <hr />

    <h4>Podstawa Prawna</h4>

    <p>GDPR (RODO)</p>
    <p>Klient ma prawo dostępu do swoich danych oraz otrzymania ich kopii,</p>
    <p>Klient ma prawo do sprostowania i/lub usunięcia swoich danych,</p>
    <p>Klient ma prawo do ograniczenia przetwarzania swoich danych częściowo lub w całości,</p>
    <p>Klient ma prawo do przenoszenia swoich danych,</p>
    <p>Klient ma prawo do wniesienia skargi do organu nadzorczego.</p>

</div>

