@model IEnumerable<ActualNews>;

@{
    ViewData["Title"] = "Index";
}

<div class="container p-1">
    <div class="row pt-4">
        <h2 class="text-primary">Main page actual news display</h2>
        <div class="w-30 btn-group" role="group">
            <a asp-controller="ActualNews" asp-action="UpsertPage" asp-route-id="" class="btn btn-primary mx-2">
            <img src="/lib/bootstrap/icons/plus-square.svg" alt="Bootstrap" width="20" height="20">
            Add New ActualNews on Start Page
            </a>
        </div>
    </div>
    <br />
    <br />
    <table class="table table-bordered table striped" style="width:90%">
        <thead>
        </thead>
        <tbody>
            @foreach(var Object in Model)
            {
                <tr>
                    <th>@Object.Id</th>
                    <th>@Object.Title</th>
                    <th>@Object.Date</th>
                    <th>
                        <div class="w-30 btn-group" role="group">
                            <a asp-controller="ActualNews" asp-action="DetailsPage" asp-route-id="@Object.Id" class="btn btn-primary mx-2">
                                <img src="/lib/bootstrap/icons/book.svg" alt="Bootstrap" width="20" height="20">
                                Details
                            </a>
                        </div>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>